<!-- Loop over each object in the projects array -->
{{#each contents as |content| }}
<div class="main">
    <div class="blog">
        <div id="top">
            <h2>
                {{title}}
            </h2>
            <p>{{publish_date}}</p>
        </div>
        <div id="bottom">
            <p>{{body}}</p>
        </div>

    </div>
</div>
    {{/each}}