<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <nav>
        <h1>The Tech Blog</h1>
        <div>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if logeddIn}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {{/if}}
        </div>
    </nav>

    <main>
        <div class="content">
            {{{body}}}
        </div>
    </main>
</body>

</html>