

<div class="signup">
    <h2>Signup</h2>

    <div class="field">
        <label class="label">email</label>
        <div class="control">
            <input class="input" type="email">
        </div>
    </div>

    <div class="field">
        <label class="label">password</label>
        <div class="control">
            <input class="input" type="password">
        </div>
    </div>
    <div class="control">
        <button class="button is-primary">Submit</button>
    </div>
</div>