

<form class="signup" action="api/users" method="post">
    <h1>Signup</h1>
    <label>email</label>
    <input name="email">
    <label>password</label>
    <input name="password" type="password">
    <input type="submit">
</form>