<div class="container">
    <div class="row">
        <div class="col-2" id="left"></div>

        <div class="col-8" id="blog">
            <div id="top">
                <h2>
                    {{title}}
                </h2>
                <p>{{format_date content.publish_date}}</p>
            </div>
            <div id="bottom">
                <p>{{body}}</p>
            </div>
        </div>
        <div class="col-2" id="right"></div>

    </div>
</div>