body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightblue;
}

nav h1 {
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

nav div a {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: black;
}

.signup {
    width: 400px;
    margin: 10vh auto;
}

.login{
    width: 400px;
    margin: 10vh auto;
}

#blog {
    width: 800px;
    padding: 50px;
    margin-left: 200;
}

#top {
    display: flex;
    justify-content: space-between;
}





