<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div id="header">
        <nav>
            <a href="/">Home</a>
            {{#if logged_in}}
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            {{/if}}
            <a href="/logout">Logout</a>
        </nav>

        <header>
            <h1>The Tech Blog</h1>
        </header>
    </div>
    <main>
        <div class="content">
            {{{body}}}
        </div>
    </main>
</body>

</html>